body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =================common================== */
a {
  text-decoration: none;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

.popular-top .heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.main-content {
  max-width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.line-clamp {
  display: -webkit-box;
  --webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* =================header================== */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
/* ========hero========= */
.hero {
  padding: 56px;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-summary {
  padding: 24px;
  width: 270px;
  bottom: 48px;
  right: 0;
  position: absolute;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-bottom: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}
.hero-summary .icon2 {
  background: #fcefff;
}
.hero-summary .icon3 {
  background: #ebeaff;
}
.hero-summary .info .label {
  font-size: 1.4rem;

  color: #5f5b53;
  line-height: 1.86;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .content-block .heading {
  color: #171100;
  font-weight: 700;
  font-size: 3.5rem;
  font-family: var(--font-heading);
  letter-spacing: -1.16;
  line-height: 1.17;
}
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-left: 64px;
}
.hero .content-block .desc {
  font-size: 1.5rem;
  color: #5f5b53;
  display: block;
  padding: 15px;
  line-height: 1.67;
}
.hero .hero-cta {
  background: var(--primary-color);
  border-radius: 32px;
  line-height: 64px;
  min-width: 180px;
}
.hero .cta-group {
  display: flex;
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  padding: 5px;
}
.hero .cta-group .icon {
  background: #ffffff;
  padding: 20px;
}
.hero .cta-group .Watch {
  color: #171100;
  font-size: 1.8rem;
  line-height: 1.67;
  font-weight: 600;
}
.hero .strong {
  font-size: 4.4rem;
  line-height: 1.67;
  width: 700px;
  color: #171100;
}

/* ======popular======= */
.popular {
  padding: 65px 0;
  margin-left: 135px;
}
.popular-top .desc {
  font-size: 1.2rem;
  color: #5f5b53;
  width: 400px;
  line-height: 1.67;
}
.controls {
  width: 98px;
  height: 40px;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.controls .controls-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
}
.controls .controls-btn:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  flex: 1;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
  width: 100%;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 16px;
  line-height: 1.75;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}

.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}

/* =================feedback================== */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-item {
  display: flex;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

/* =======Features======= */

.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}
.features .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  border-radius: 16px;
}
.features .lower {
  margin-top: 34px;
}
.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
}
.features .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  color: #5f5b53;
  line-height: 1.75;
}
.features .btn {
  background: var(--primary-color);
  margin-top: 32px;
  width: 137px;
  height: 50px;
}

/* =======Features2======= */

.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd .content {
  width: 49%;
}

/* =======blogs======= */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}
.blogs .blog-top {
  text-align: center;
}
.blogs .heading-lv2 {
  font-size: 3rem;
  text-align: center;
}
.blogs .desc {
  margin: 16px auto 0;
  width: 448px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
}
.blogs .blog-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.blogs .item .thumb {
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blogs .item .info {
  padding: 20px 20px 28px;
}
.blogs .item .date {
  position: relative;
  display: inline-flex;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
  align-items: center;
}
.blogs .item .date::before {
  content: "";
  margin-right: 4px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
}
.blogs .item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
  content: "";
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blogs .item .title {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #171100;
}
.blogs .item .btn {
  margin-top: 12px;
}
.blogs .item .btn:hover {
  background: var(--primary-color);
}
.blogs .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
